<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aximo - Creative Agency Tailwind Template</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon" />

    <!-- Site font -->
    <link rel="stylesheet" href="/static/fonts/webfonts/inter/stylesheet.css">
    
    {{ css|safe }}

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="/static/css/vendors/swiper-bundle.min.css">
    <link rel="stylesheet" href="/static/css/vendors/jos.css">
    <link rel="stylesheet" href="/static/css/vendors/menu.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/custom.css">
    <!-- Development css -->
    <link rel="stylesheet" href="/static/css/style.css">

    <!-- Production css -->
    <!-- <link rel="stylesheet" href="/assets/css/style.min.css" /> -->
</head>