{% extends './partials/layout1.html' %}

{% block content %}

<!-- ...::: Team Details Section Start :::... -->
<div class="section-team">
    <!-- Section Space -->
    <div class="section-space">
        <!-- Section Container -->
        <div class="container">
            <!-- Team-details Article-->
            <div class="grid grid-cols-1 items-center gap-x-[60px] gap-y-10 lg:grid-cols-[minmax(0,0.75fr)_1fr] lg:gap-x-20 xl:gap-x-[100px]">
                <!-- Team details Left Side Block -->
                <div class="jos mx-auto max-w-[495px] overflow-hidden rounded-[25px] border-2 border-black lg:max-w-full lg:border-[5px]" data-jos_animation="fade-right">
                    <img src="/static/img/images/th-1/team-details-img.jpg" alt="team-details-img" width="484" height="489" class="h-auto w-full object-cover" />
                </div>
                <!-- Team details Left Side Block -->
                <!-- Team details Right Side Block -->
                <div class="jos" data-jos_animation="fade-left">
                    <article class="rich-text">
                        <h2 class="mb-6">
                            Let's introduce
                            <span>
                                <img src="/static/img/elemnts/shape-light-lime-5-arms-star.svg" alt="shape-light-lime-5-arms-star" width="74" height="70" class="relative inline-block h-auto w-8 after:bg-black md:w-10 lg:w-[57px]" />
                            </span>
                            Mr. Andrew Mark
                        </h2>

                        <div class="text-lg leading-[1.43] lg:text-[21px]">
                            <p>
                                Andrew Mark is the CEO of our design agency. He plays a
                                key role in overseeing the agency's operations, growth
                                and strategic direction.
                            </p>
                            <p>
                                As the leader of the organization, he also sets the
                                company's vision, mission, and values. He spent 15 years
                                providing strategic direction and ensuring the
                                organization's goals and objectives were met.
                            </p>
                        </div>
                    </article>

                    <!-- Social Link -->
                    <div class="mt-11 flex w-full gap-4">
                        <a href="http://www.twitter.com" target="_blank" rel="noopener noreferrer" class="group/link relative inline-flex h-[34px] w-[34px] items-center justify-center rounded-[50%] border border-colorButteryWhite bg-black transition-all duration-300 hover:border-black hover:bg-colorLightLime hover:shadow-[0_1.5px_0_0] hover:shadow-colorButteryWhite">
                            <img src="/static/img/icons/icon-logo-buttery-white-twitter.svg" alt="icon-logo-buttery-white-twitter" width="19" height="16" class="opacity-100 transition-all duration-300 group-hover/link:opacity-0" />
                            <img src="/static/img/icons/icon-logo-black-twitter.svg" alt="icon-logo-black-twitter" width="19" height="16" class="absolute opacity-0 transition-all duration-300 group-hover/link:opacity-100" />
                        </a>
                        <a href="http://www.facebook.com" target="_blank" rel="noopener noreferrer" class="group/link relative inline-flex h-[34px] w-[34px] items-center justify-center rounded-[50%] border border-colorButteryWhite bg-black transition-all duration-300 hover:border-black hover:bg-colorLightLime hover:shadow-[0_1.5px_0_0] hover:shadow-colorButteryWhite">
                            <img src="/static/img/icons/icon-logo-buttery-white-facebook.svg" alt="icon-logo-buttery-white-facebook" width="10" height="17" class="opacity-100 transition-all duration-300 group-hover/link:opacity-0" />
                            <img src="/static/img/icons/icon-logo-black-facebook.svg" alt="icon-logo-black-facebook" width="10" height="17" class="absolute opacity-0 transition-all duration-300 group-hover/link:opacity-100" />
                        </a>
                        <a href="http://www.instagram.com" target="_blank" rel="noopener noreferrer" class="group/link relative inline-flex h-[34px] w-[34px] items-center justify-center rounded-[50%] border border-colorButteryWhite bg-black transition-all duration-300 hover:border-black hover:bg-colorLightLime hover:shadow-[0_1.5px_0_0] hover:shadow-colorButteryWhite">
                            <img src="/static/img/icons/icon-logo-buttery-white-instagram.svg" alt="icon-logo-buttery-white-instagram" width="17" height="18" class="opacity-100 transition-all duration-300 group-hover/link:opacity-0" />
                            <img src="/static/img/icons/icon-logo-black-instagram.svg" alt="icon-logo-black-instagram" width="17" height="18" class="absolute opacity-0 transition-all duration-300 group-hover/link:opacity-100" />
                        </a>
                        <a href="http://www.linkedin.com" target="_blank" rel="noopener noreferrer" class="group/link relative inline-flex h-[34px] w-[34px] items-center justify-center rounded-[50%] border border-colorButteryWhite bg-black transition-all duration-300 hover:border-black hover:bg-colorLightLime hover:shadow-[0_1.5px_0_0] hover:shadow-colorButteryWhite">
                            <img src="/static/img/icons/icon-logo-buttery-white-linkedin.svg" alt="icon-logo-buttery-white-linkedin" width="17" height="18" class="opacity-100 transition-all duration-300 group-hover/link:opacity-0" />
                            <img src="/static/img/icons/icon-logo-black-linkedin.svg" alt="icon-logo-black-linkedin" width="17" height="18" class="absolute opacity-0 transition-all duration-300 group-hover/link:opacity-100" />
                        </a>
                    </div>
                    <!-- Social Link -->
                </div>
                <!-- Team details Right Side Block -->
            </div>
            <!-- Team-details Article-->
        </div>
        <!-- Section Container -->
    </div>
    <!-- Section Space -->
</div>
<!-- ...::: Team Details Section End :::... -->

<!-- ...::: Team Details Info Section Start :::... -->
<section class="section-team-details-info">
    <!-- Section Space -->
    <div class="section-space-bottom">
        <!-- Section Container -->
        <div class="container">
            <!-- Team Details Info List-->
            <ul class="grid grid-cols-1 gap-x-6 gap-y-10 md:grid-cols-2 lg:grid-cols-3">
                <li class="jos">
                    <h4>Qualifications:</h4>
                    <ul class="ml-4 mt-4 flex list-outside list-disc flex-col gap-y-[30px]">
                        <li>
                            <strong>Educational Background:</strong> A degree in a
                            relevant field, such as graphic design & UX.
                        </li>
                        <li>
                            <strong>Industry Experience:</strong> Extensive experience
                            in the design industry 15 years & can be crucial
                        </li>
                        <li>
                            <strong>Business Acumen:</strong> A solid understanding of
                            business principles, marketing, and finance.
                        </li>
                    </ul>
                </li>
                <li class="jos">
                    <h4>Attributes:</h4>
                    <ul class="ml-4 mt-4 flex list-outside list-disc flex-col gap-y-[30px]">
                        <li>
                            <strong>Visionary:</strong> A successful CEO in a design
                            agency should have a clear vision.
                        </li>
                        <li>
                            <strong>Strong Communication Skills:</strong> A effective
                            communication is essential for interaction.
                        </li>
                        <li>
                            <strong>Business Acumen:</strong> A strong understanding
                            of business principles, finance, and marketing.
                        </li>
                    </ul>
                </li>
                <li class="jos">
                    <h4>Professional Skills:</h4>
                    <ul class="ml-4 mt-4 flex list-outside list-disc flex-col gap-y-[30px]">
                        <li class="overflow-hidden">
                            <span class="mb-4 block"><strong>Problem-Solving Skills::</strong></span>
                            <div class="relative">
                                <div class="h-[10px] w-full rounded-[10px] bg-black"></div>
                                <div class="jos progress-bar absolute left-0 top-0 h-full rounded-[10px] bg-colorLightLime" data-percentage-value="95" data-jos_animation="slide-right">
                                    <span class="absolute -top-12 left-full -translate-x-5 font-bold text-black">95%</span>
                                </div>
                            </div>
                        </li>
                        <li class="overflow-hidden">
                            <span class="mb-4 block"><strong>Networking Skills:</strong></span>
                            <div class="relative">
                                <div class="h-[10px] w-full rounded-[10px] bg-black"></div>
                                <div class="jos progress-bar absolute left-0 top-0 h-full rounded-[10px] bg-colorLightLime" data-percentage-value="83" data-jos_animation="slide-right">
                                    <span class="absolute -top-12 left-full -translate-x-5 font-bold text-black">83%</span>
                                </div>
                            </div>
                        </li>
                        <li class="overflow-hidden">
                            <span class="mb-4 block"><strong>Leadership Skills:</strong></span>
                            <div class="relative">
                                <div class="h-[10px] w-full rounded-[10px] bg-black"></div>
                                <div class="jos progress-bar absolute left-0 top-0 h-full rounded-[10px] bg-colorLightLime" data-percentage-value="90" data-jos_animation="slide-right">
                                    <span class="absolute -top-12 left-full -translate-x-5 font-bold text-black">90%</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Team Details Info List-->
        </div>
        <!-- Section Container -->
    </div>
    <!-- Section Space -->
</section>
<!-- ...::: Team Details Info Section Start :::... -->
</main>
<!--  Main Wrapper End -->

{% endblock content %}