{% extends './partials/layout1.html' %}

{% block content %}

    <!-- ...::: Service Details Section Start :::... -->
    <section class="section-service">
        <!-- Section Space -->
        <div class="section-space">
            <!-- Section Container -->
            <div class="container">
                <!-- Service Details Article -->
                <article>
                    <div class="mb-20 block overflow-hidden rounded-[35px] border-2 border-black lg:border-[5px]">
                        <img src="/static/img/images/th-1/service-details-img.jpg" alt="service-details-img." width="1286" height="590" class="h-auto w-full object-cover" />
                    </div>
                    <div class="max-w-[650px] md:mb-[60px] xl:max-w-[856px]">
                        <h2>
                            UI/UX for
                            <span>
                                modern
                                <img src="/static/img/elemnts/shape-light-lime-5-arms-star.svg" alt="shape-light-lime-5-arms-star" width="74" height="70" class="inline-block h-auto w-8 md:w-10 lg:w-[57px]" />
                            </span>
                            product development
                        </h2>
                        <div class="rich-text mt-6 text-lg leading-[1.4] lg:text-[21px]">
                            <p>
                                UI/UX, which stands for User Interface (UI) and User
                                Experience (UX), are two critical components of software
                                design and development of websites and applications.
                            </p>
                            <p>
                                They are often used interchangeably, but they refer to
                                different aspects of the design and user interaction
                                process. Here's a brief overview of each:
                            </p>
                        </div>
                    </div>
                </article>
                <!-- Service Details Article -->

                <!-- Service Info Block -->
                <div class="grid grid-cols-1 gap-x-6 gap-y-10 lg:grid-cols-2">
                    <div>
                        <h4>1/ User Interface (UI):</h4>
                        <ul class="ml-4 mt-4 flex list-outside list-disc flex-col gap-y-[30px]">
                            <li>
                                UI refers to the visual elements and the overall look and
                                feel of a product. It encompasses the design of screens,
                                pages, buttons, icons, and any other visual elements users
                                interact with.
                            </li>
                            <li>
                                UI designers are responsible for creating a visually
                                appealing and consistent design that aligns with the brand
                                or product's identity.
                            </li>
                            <li>
                                Key aspects of UI design include layout, color schemes,
                                typography, icons, and graphical elements.
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h4>2/ User Experience (UX):</h4>
                        <ul class="ml-4 mt-4 flex list-outside list-disc flex-col gap-y-[30px]">
                            <li>
                                UX focuses on the overall experience of the user when
                                interacting with a product. It encompasses how users feel
                                when they use the product and how easy or challenging it
                                is to accomplish their goals.
                            </li>
                            <li>
                                UX designers work to understand the user's needs,
                                behaviors, and pain points, and they design the product
                                maximizes user satisfaction.
                            </li>
                            <li>
                                Key aspects of UX design include research, information
                                architecture, wireframing, prototyping, usability testing,
                                and user journey mapping.
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Service Info Block -->
            </div>
            <!-- Section Container -->
        </div>
        <!-- Section Space -->
    </section>
    <!-- ...::: Service Details Section end :::... -->

    <!-- ...::: Service Content Section Start :::... -->
    <section class="section-service-content">
        <!-- Section Space -->
        <div class="section-space-bottom">
            <!-- Section Container -->
            <div class="container">
                <!-- Service Content Area -->
                <div class="grid items-center gap-x-14 gap-y-10 lg:grid-cols-[1fr_minmax(0,0.6fr)] xl:gap-x-20 xxl:grid-cols-[1fr_minmax(0,0.85fr)] xxl:gap-x-[100px]">
                    <!-- Service Content Left Block -->
                    <div class="jos" data-jos_animation="fade-left">
                        <h2 class="mb-6">
                            Our Approach
                            <span>
                                <img src="/static/img/elemnts/shape-light-lime-5-arms-star.svg" alt="shape-light-lime-5-arms-star" width="74" height="70" class="inline-block h-auto w-8 md:w-10 lg:w-[57px]" />
                            </span>
                        </h2>
                        <p class="text-lg leading-[1.42] lg:text-[21px]">
                            The working approach for UI/UX design involves a series of
                            steps and methodologies to ensure that the user interface
                            and user experience. Here's a typical approach to UI/UX
                            design:
                        </p>
                        <!-- Service Content List -->
                        <ul class="mt-[50px] flex flex-col gap-y-6">
                            <!-- Service Content Item -->
                            <li>
                                <div class="flex gap-x-5">
                                    <img src="/static/img/icons/icon-black-search.svg" alt="icon-black-search" width="38" height="40" class="h-10 w-auto" />
                                    <h4 class="flex-1">
                                        Research and Competitor Analysis:
                                    </h4>
                                </div>
                                <ul class="ml-20 mt-4 flex list-outside list-disc flex-col gap-y-[30px]">
                                    <li>
                                        Start by understanding the target audience and their
                                        needs and analyze similar products identify best
                                        practices of differentiation.
                                    </li>
                                </ul>
                            </li>
                            <!-- Service Content Item -->
                            <!-- Service Content Item -->
                            <li>
                                <div class="flex gap-x-5">
                                    <img src="/static/img/icons/icon-black-edit.svg" alt="icon-black-edit" width="41" height="45" class="h-10 w-auto" />
                                    <h4 class="flex-1">User Interface Implementation:</h4>
                                </div>
                                <ul class="ml-20 mt-4 flex list-outside list-disc flex-col gap-y-[30px]">
                                    <li>
                                        Translate the finalized UI design into actual code or
                                        design, elements, assets, depending on the platform
                                        (web, mobile, etc.).
                                    </li>
                                </ul>
                            </li>
                            <!-- Service Content Item -->
                            <!-- Service Content Item -->
                            <li>
                                <div class="flex gap-x-5">
                                    <img src="/static/img/icons/icon-black-rocket.svg" alt="icon-black-rocket" width="38" height="44" class="h-10 w-auto" />
                                    <h4 class="flex-1">Launch and Post-Launch:</h4>
                                </div>
                                <ul class="ml-20 mt-4 flex list-outside list-disc flex-col gap-y-[30px]">
                                    <li>
                                        Prepare for the product's launch, and gather user
                                        feedback after the product is live and make iterative
                                        improvements user data.
                                    </li>
                                </ul>
                            </li>
                            <!-- Service Content Item -->
                        </ul>
                        <!-- Service Content List -->
                    </div>
                    <!-- Service Content Left Block -->

                    <!-- Service Content Right Block -->
                    <div class="jos" data-jos_animation="fade-right">
                        <div class="mx-auto max-w-[495px] overflow-hidden rounded-[25px] border-2 border-black lg:mx-0 lg:max-w-full lg:border-[5px]">
                            <img src="/static/img/images/th-1/service-details-inner-img.jpg" alt="service-details-inner-img" width="548" height="632" class="h-auto w-full object-cover" />
                        </div>
                    </div>
                    <!-- Service Content Right Block -->
                </div>
                <!-- Service Content Area -->
            </div>
            <!-- Section Container -->
        </div>
        <!-- Section Space -->
    </section>
    <!-- ...::: Service Content Section End :::... -->

    <!-- Horizontal Line -->
    <div class="horizontal-line bg-[#e6e6e6]"></div>
    <!-- Horizontal Line -->

    <!-- ...::: Testimonial Section Start :::... -->
    <section class="section-testimonial">
        <!-- Section Space -->
        <div class="section-space">
            <!-- Section Container -->
            <div class="container">
                <!-- Section Block -->
                <div class="section-block mx-auto mb-10 max-w-[650px] text-center md:mb-[60px] xl:mb-20 xl:max-w-[856px]">
                    <h2 class="jos">
                        Clients are always satisfied with
                        <span>
                            us
                            <img src="/static/img/elemnts/shape-light-lime-5-arms-star.svg" alt="shape-light-lime-5-arms-star" width="74" height="70" class="relative inline-block h-auto w-8 after:bg-black md:w-10 lg:w-[57px]" />
                        </span>
                    </h2>
                </div>
                <!-- Section Block -->

                <!-- Testimonial List -->
                <ul class="grid grid-cols-1 gap-x-6 gap-y-[30px] md:grid-cols-2">
                    <!-- Testimonial Item -->
                    <li class="jos" data-jos_delay="0">
                        <div class="flex h-full flex-col rounded-[20px] border-2 border-black px-[30px] py-6 transition-all duration-300 hover:shadow-[5px_5px_0_0] hover:shadow-black">
                            <div class="mb-8 flex gap-x-2">
                                <img src="/static/img/icons/icon-black-star.svg" alt="icon-black-star" width="37" height="35" />
                                <img src="/static/img/icons/icon-black-star.svg" alt="icon-black-star" width="37" height="35" />
                                <img src="/static/img/icons/icon-black-star.svg" alt="icon-black-star" width="37" height="35" />
                                <img src="/static/img/icons/icon-black-star.svg" alt="icon-black-star" width="37" height="35" />
                                <img src="/static/img/icons/icon-black-star.svg" alt="icon-black-star" width="37" height="35" />
                            </div>
                            <h4 class="mb-5">Super customer service!</h4>
                            <p class="mb-[30px]">
                                Excellent customer service and I was really impressed and
                                happy with my purchase especially as it was a last minute
                                order which got to me in time, and when it arrived I was
                                very happy with the design and size and so was the
                                recipient.
                            </p>
                            <div class="mt-auto flex items-center gap-3">
                                <div class="h-[70px] w-[70px] overflow-hidden rounded-[50%] border-2 border-black">
                                    <img src="/static/img/images/th-1/testimonial-user-img-1.png" alt="testimonial-user-img-1" width="64" height="64" class="h-full w-full object-cover" />
                                </div>

                                <div class="flex-1 font-syne text-lg font-bold leading-none -tracking-[0.5px] lg:text-[21px]">
                                    William Jack
                                    <span class="font-normal">Founder@XYZ</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- Testimonial Item -->
                    <!-- Testimonial Item -->
                    <li class="jos" data-jos_delay="0.3">
                        <div class="flex h-full flex-col rounded-[20px] border-2 border-black px-[30px] py-6 transition-all duration-300 hover:shadow-[5px_5px_0_0] hover:shadow-black">
                            <div class="mb-8 flex gap-x-2">
                                <img src="/static/img/icons/icon-black-star.svg" alt="icon-black-star" width="37" height="35" />
                                <img src="/static/img/icons/icon-black-star.svg" alt="icon-black-star" width="37" height="35" />
                                <img src="/static/img/icons/icon-black-star.svg" alt="icon-black-star" width="37" height="35" />
                                <img src="/static/img/icons/icon-black-star.svg" alt="icon-black-star" width="37" height="35" />
                                <img src="/static/img/icons/icon-black-star.svg" alt="icon-black-star" width="37" height="35" />
                            </div>
                            <h4 class="mb-5">Exceptional creativity and vision</h4>
                            <p class="mb-[30px]">
                                Working with Mthemeus was a game-changer for our brand.
                                Their exceptional creativity & vision breathed new life
                                into our visual. The logo they designed perfectly captures
                                our essence & has become instantly recognizable. We
                                couldn't be happier with the results!
                            </p>
                            <div class="mt-auto flex items-center gap-3">
                                <div class="h-[70px] w-[70px] overflow-hidden rounded-[50%] border-2 border-black">
                                    <img src="/static/img/images/th-1/testimonial-user-img-2.png" alt="testimonial-user-img-2" width="64" height="64" class="h-full w-full object-cover" />
                                </div>

                                <div class="flex-1 font-syne text-lg font-bold leading-none -tracking-[0.5px] lg:text-[21px]">
                                    Smith Align
                                    <span class="font-normal">Businessman</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- Testimonial Item -->
                    <!-- Testimonial Item -->
                    <li class="jos" data-jos_delay="0.6">
                        <div class="flex h-full flex-col rounded-[20px] border-2 border-black px-[30px] py-6 transition-all duration-300 hover:shadow-[5px_5px_0_0] hover:shadow-black">
                            <div class="mb-8 flex gap-x-2">
                                <img src="/static/img/icons/icon-black-star.svg" alt="icon-black-star" width="37" height="35" />
                                <img src="/static/img/icons/icon-black-star.svg" alt="icon-black-star" width="37" height="35" />
                                <img src="/static/img/icons/icon-black-star.svg" alt="icon-black-star" width="37" height="35" />
                                <img src="/static/img/icons/icon-black-star.svg" alt="icon-black-star" width="37" height="35" />
                                <img src="/static/img/icons/icon-black-star.svg" alt="icon-black-star" width="37" height="35" />
                            </div>
                            <h4 class="mb-5">Innovative and professional</h4>
                            <p class="mb-[30px]">
                                I can't say enough good things about them. Their team is
                                not only incredibly talented but also highly professional.
                                They listened to our ideas and brought them to life in
                                ways we couldn't have imagined. Their innovative approach
                                and dedication to our project.
                            </p>
                            <div class="mt-auto flex items-center gap-3">
                                <div class="h-[70px] w-[70px] overflow-hidden rounded-[50%] border-2 border-black">
                                    <img src="/static/img/images/th-1/testimonial-user-img-3.png" alt="testimonial-user-img-3" width="64" height="64" class="h-full w-full object-cover" />
                                </div>

                                <div class="text- leading-nonelg flex-1 font-syne font-bold -tracking-[0.5px] lg:text-[21px]">
                                    Milano Joe
                                    <span class="font-normal">Creative Director</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- Testimonial Item -->
                    <!-- Testimonial Item -->
                    <li class="jos" data-jos_delay="0.9">
                        <div class="flex h-full flex-col rounded-[20px] border-2 border-black px-[30px] py-6 transition-all duration-300 hover:shadow-[5px_5px_0_0] hover:shadow-black">
                            <div class="mb-8 flex gap-x-2">
                                <img src="/static/img/icons/icon-black-star.svg" alt="icon-black-star" width="37" height="35" />
                                <img src="/static/img/icons/icon-black-star.svg" alt="icon-black-star" width="37" height="35" />
                                <img src="/static/img/icons/icon-black-star.svg" alt="icon-black-star" width="37" height="35" />
                                <img src="/static/img/icons/icon-black-star.svg" alt="icon-black-star" width="37" height="35" />
                                <img src="/static/img/icons/icon-black-star.svg" alt="icon-black-star" width="37" height="35" />
                            </div>
                            <h4 class="mb-5">Transformed our brand</h4>
                            <p class="mb-[30px]">
                                Our partnership with Mthemeus transformed our brand from
                                ordinary to extraordinary. Their branding expertise and
                                meticulous design work elevated our marketing materials to
                                a whole new level. Our customers have taken notice, and
                                boost in brand recognition.
                            </p>
                            <div class="mt-auto flex items-center gap-3">
                                <div class="h-[70px] w-[70px] overflow-hidden rounded-[50%] border-2 border-black">
                                    <img src="/static/img/images/th-1/testimonial-user-img-4.png" alt="testimonial-user-img-4" width="64" height="64" class="h-full w-full object-cover" />
                                </div>

                                <div class="flex-1 font-syne text-lg font-bold leading-none -tracking-[0.5px] lg:text-[21px]">
                                    Danial Mark
                                    <span class="font-normal">Marketing Director</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- Testimonial Item -->
                </ul>
                <!-- Testimonial List -->
            </div>
            <!-- Section Container -->
        </div>
        <!-- Section Space -->
    </section>
    <!-- ...::: Testimonial Section End :::... -->
</main>
<!--  Main Wrapper End -->

{% endblock content %}